[ extends "layouts/master.html" ]
[ block pagetitle ]Home Page[ endblock pagetitle ]
[ block content ]
                <div>
                    <h2>Home Page</h2>
                    <p>Message from Twig (passed from the controller): [[ message ]]</p>
                </div>
[ endblock content ]
